services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
  
  web-api:
    image: purpleghost/web-api:1.0
    container_name: web-api
    depends_on:
      - rabbitmq
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
      ASPNETCORE_URLS: http://0.0.0.0:8080
    ports:
      - "5000:8080"
  
  angular-dashboard:
    image: purpleghost/angular-dashboard:1.0
    container_name: angular-dashboard
    ports:
      - "80:80"

  email-consumer:
    image: purpleghost/email-consumer:1.0
    container_name: email-consumer
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest

  payment-consumer:
    image: purpleghost/payment-consumer:1.0
    container_name: payment-consumer
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest

  retry-consumer:
    image: purpleghost/retry-consumer:1.0
    container_name: retry-consumer
    depends_on:
      - rabbitmq
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: guest
      RABBITMQ_PASSWORD: guest
